.nav-link-hot {
    color: #f28b82;
    font-weight: 500;
    transition: all 0.25s ease;
}

.nav-link-hot:hover {
    color: #ff4d4f;
    font-weight: 600;
    transform: translateY(-1px);
    text-shadow: 0 0 8px rgba(255, 77, 79, 0.5);
}


.badge-hot {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}